.navCon{
    display: flex;
    justify-content:start;
    padding-top: 4.8vw;
}
.navCon img{
    width: 2.6667vw;
    height: 4.5333vw;
    padding-left: 4.2667vw;
}
.navCon h1{
    font-size: 4.5333vw;
    color: #4c5059;
    font-weight: bold;
    line-height: 4.5333vw;
    padding-left: 33.3333vw;
}
.Heade{
    padding-top: 10.6667vw;
    display: flex;
    justify-content: space-between;
}
.dis{
    padding: 2.4vw 0 0 0;
    font-size: 4vw;
    color: #4c5059; 
    padding-top: 2.4vw;
}
.Hd{
    display: flex;
    justify-content: flex-end;
}
.List{
    width: 8.8vw;
    height: 10.6667vw;
    border-radius: 50%;
    overflow: hidden;
}
.List img{
    width: 100%;
    height: 100%;
}
.Con{
    width: 1.6vw;
    height: 2.6667vw;
    padding: 2.9333vw 0 0 5.0667vw;
}
.Con img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
ul,li,.Heade{
    width: 91.4667vw;
    margin: 0 auto;
}
ul{
    margin-top: 5.8667vw;
    border-top: 1px solid #f6f7f9;
}
li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f6f7f9;
    padding-bottom: 6.6667vw;
}
.liBm{
    font-size: 4vw;
    color: #4c5059; 
    padding: 5.6vw 0 0 0;
}
.liName{
    display: flex;
    justify-content: flex-end;
}
.liName p{
    color: #aaaeb9;
    font-size: 2.4vw;
    padding:  5.6vw 3.4667vw 0 0;
}
.liName img{
    width: 1.6vw;
    height: 2.6667vw;
    padding: 6.6667vw 0 0 0;
}